.error-message {
    color: red;
}

.container {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;

    margin: 0;
    background: #333;
  }

  .left-column {
    width: 11%;
    height: 100%;
    padding: 0;
  }

  .center-column {
    color: #8DCC54;
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: column;
  }

  .team1-crosses,
  .team2-crosses {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .cross {
    width: 90%;
    height: 30%;
    /*background: #707077;*/
    color: #8DCC54;
    font-size: 500%;
  }

  .col4 {
    width:100%
  }

  #answer-list {
    display: flex;
    flex-direction: column;
  }